<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cristhian.prototipo2" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Inicio"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registro"
            android:label="@string/REGISTRO"
            android:parentActivityName=".Inicio" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cristhian.prototipo2.Inicio" />
        </activity>

        <activity
            android:name=".Sitios"
            android:label="@string/Sitios">
            <meta-data
                android:name="android.intent.category.DEFAULT"
                android:value="com.example.cristhian.prototipo2.Inicio" />
        </activity>

    </application>

</manifest>
